<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />
    <title>ToothClimbers</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
      </nav>
      <main>
        <h1>Welcome to ToothClimbers!</h1>
        <iframe
          src="https://mitid.eu.pythonanywhere.com/"
          frameborder="0"
          style="height: 40rem"
        >
        </iframe>
      </main>
    </div>
  </body>
</html>
<script>
  //
  window.addEventListener(
    "message",
    event => {
      if (event.data == "no") 
        console.log("Nope")
        return
      const jwt = '{
        "cpr": "12345",
        "iat": 1646214674,
        "exp": 1646215274
      }'

      console.log(event.origin, event.data)
    },
    false
  )
</script>
